.room
{
  max-width: 370px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding-bottom: 50px;
  border: 5px solid #e7e0d3;
  box-sizing: border-box;
  position: relative;
  filter: grayscale(0);

  &:hover:not(.selected)
  {
    border-color: #fff;

    .room__motivator
    {
      display: block;
    }
  }

  &__photo
  {
    margin: -5px;
    width: 370px;
    height: auto;
  }

  &__motivator
  {
    display: none;
    position: absolute;
    margin: 5px;
  }

  &__data
  {
    margin: 20px 30px 0;
    border-bottom: 1px solid #dbdbdb;
    height: 155px;

    &_name
    {
      margin-top: 25px;
      height: 55px;
      font: 400 28px/1.2em 'Noto Serif';
      color: $main-color;
    }

    &_description
    {
      font: 400 16px/24px 'PT Sans';
      color: #1e1e1e;
      letter-spacing: -.011em;
    }
  }

  &__cost
  {
    font: 400 18px/18px 'Noto Serif';
    color: #4b4b4b;
    margin: 30px auto 28px;

    &_value
    {
      font-size: 25px;
      color: $main-color;
      letter-spacing: .03em;
    }
  }

  &__button
  {
    width: 230px;
    height: 50px;
    background-color: #775b25;
    color: #fff;
    font: 400 16px/24px 'PT Sans';
    cursor: pointer;
    border: none;
    outline: none;
    letter-spacing: .09em;

    &:hover
    {
      background-color: #9e8555;
    }
  }
}
